<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <!--    <link rel="stylesheet" type="text/css" media="all" href="css/Base.css" th:href="@{/resources/css/Base.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" media="all" href="css/Component.css"-->
    <!--          th:href="@{/resources/css/Component.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" media="all" href="css/Component.css"-->
    <!--          th:href="@{/resources/font_awesome/css/font-awesome.min.css}"/>-->
    <!--    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>-->
    <!--    <script src='https://www.google.com/recaptcha/api.js'></script>-->
    <!--    <script th:src="@{/resources/js/Valid.js}"></script>-->
    <!--    <title th:text="#{label.form.title}">form</title>-->
</head>
<body class="bg-cyan">
<div class="body body-s">
    <a th:href="@{/api/v1/employees}"
       onClick="">
       Get Employee
    </a>
</div>
</body>

</html>